body {
  min-height: 100dvh;
  background-color: var(--base-bg);
}

#root {
  min-height: calc(100dvh - 56px);
  display: flex;
  flex-direction: column;
}

:root {
  /* COLOR VARS */
  --base-bg:#b7b7b7;

  --color1: #f6f6f6;
  --color2: #eeeeee;
  --color3: #e4e4e4;
  --color4: #737373;
  --color5: #404040;
  --bg-lighter: #fafafa;
}


